.fields{
    display: flex;
    gap: 1rem;
    align-items: baseline;
}

.buttons{
    display: flex;
    gap:1rem;
}
.btn{
    height: 2.5rem;
    width: 5rem;
    background: #2F6CEC;
    color: #ffff;
    border-radius: 5px;
}