<section>
  <div class="outer-container ">
    <div class="inner-container flex justify-center items-center">
      <div class="w-full max-w-lg">
        <form class="bg-transparent border-2 border-black  rounded px-8 pt-6 pb-8 mb-4" [formGroup]="loginForm">
          <div class="mb-4">
            <label class="block  text-gray-700 text-sm font-bold mb-2 Gotham-Book" for="username">
               Email
            </label>
            <input formControlName="email" [ngClass]="{' border-red-500': formErrors?.email}" class=" Gotham-Book appearance-none border-b-2 border-black  w-full py-2 px-3 text-black leading-tight focus:outline-none focus:shadow-outline bg-[#ccff02]" id="username" type="text" placeholder="Username" (blur)="logValidationErrors()">
            <p class="text-red-500 text-xs italic Gotham-Book" *ngIf="formErrors?.email">{{formErrors?.email}}</p>
        </div>
          <div class="mb-6">
            <label class="block text-gray-700 text-sm font-bold mb-2 Gotham-Book" for="password">
              Password
            </label>
            <input formControlName="password" [ngClass]="{' border-red-500': formErrors?.password}" class="Gotham-Book appearance-none border-b-2 border-black w-full py-2 px-3 text-black mb-3 leading-tight focus:outline-none focus:shadow-outline bg-[#ccff02]" id="password" type="password" placeholder="Password" (blur)="logValidationErrors()">
            <p class="text-red-500 text-xs italic Gotham-Book" *ngIf="formErrors?.password">{{formErrors?.password}}</p>
          </div>
          <div class="flex items-center justify-between">
            <button class="bg-black hover:bg-[#ccff02] text-white hover:text-black font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline Gotham-Book" type="button">
              Sign In
            </button>
            <a class="Gotham-Book inline-block align-baseline font-bold text-sm text-black hover:text-blue-500 " href="javascript:void(0);">
              Forgot Password?
            </a>
            <a (click)="gotoRegisterPage()" class="Gotham-Book inline-block align-baseline font-bold text-sm text-black hover:text-blue-500 " href="javascript:void(0);">
              Register
            </a>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>