<div class="inner-container">
    <nav>
      <div class="navbar-container">
        <div class="navbar-inner-container">
          <div class="flex gap-8 ml-auto w-[30%] justify-center py-4">
            <div class="flex items-center justify-center group">
              <a href="#"><p class="">Home</p></a>
            </div>
            <div class="flex items-center justify-center">
              <a href="#"><p class="">About us</p></a>
            </div>
            <div class="flex items-center justify-center">
              <a href="#"><p class="">Mission</p></a>
            </div>
            <div class="flex items-center justify-center">
              <a href="javascript:void(0);"
                ><button class="bg-white text-black px-6 py-2 rounded-full" (click)="login()">
                  connect
                </button></a
              >
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>