<section>
    <div class="outer-container">
      <div class="inner-container banner">
        <div class="sub-container">
          <div class="w-[30%] ml-[20%] relative rounded-full border-1 my-12 egg-shell">
              <div class="inset-center">
                  <h1 class="text-[4.5rem] Boska-Light-Italic">RES<span class="Boska-Bold">Q</span></h1>
              </div>
                <marquee loop class="inline-flex">
                  <div class="scrolling-icons">
                      <div class="glass-icon-group">
                          <div class="glass-icon"><i class="fas fa-apple-alt"></i></div>
                          <div class="glass-icon"><i class="fas fa-fish"></i></div>
                          <div class="glass-icon"><i class="fas fa-carrot"></i></div>
                          <div class="glass-icon"><i class="fas fa-coffee"></i></div>
                          <div class="glass-icon"><i class="fas fa-pepper-hot"></i></div>
                          <div class="glass-icon"><i class="fas fa-leaf"></i></div>
                          <div class="glass-icon"><i class="fas fa-egg"></i></div>
                          <div class="glass-icon"><i class="fas fa-cheese"></i></div>
                          <div class="glass-icon"><i class="fas fa-bread-slice"></i></div>
                          <div class="glass-icon"><i class="fas fa-wine-glass-alt"></i></div>
                          <div class="glass-icon"><i class="fas fa-lemon"></i></div>
                          <div class="glass-icon"><i class="fas fa-hamburger"></i></div>
                          <div class="glass-icon"><i class="fas fa-pizza-slice"></i></div>
                          <div class="glass-icon"><i class="fas fa-cookie-bite"></i></div>
                          <div class="glass-icon"><i class="fas fa-utensils"></i></div>
                          <div class="glass-icon"><i class="fas fa-bone"></i></div>
                          <div class="glass-icon"><i class="fas fa-ice-cream"></i></div>
                          <div class="glass-icon"><i class="fas fa-cocktail"></i></div>
                        </div>
                  </div>
           
              </marquee>
          </div>
          <div class="w-[30%] mr-[10%] relative  ml-auto rounded-full border-1 my-12">
              <div class="inset-center">
                  <h1 class="text-[4.5rem] Boska-Light-Italic">ME<span class="Boska-Bold">AL</span></h1>
              </div>
              <marquee direction=right loop class="inline-flex">
                  <div class="scrolling-icons">
                      <div class="glass-icon-group">
                          <div class="glass-icon"><i class="fas fa-apple-alt"></i></div>
                          <div class="glass-icon"><i class="fas fa-fish"></i></div>
                          <div class="glass-icon"><i class="fas fa-carrot"></i></div>
                          <div class="glass-icon"><i class="fas fa-coffee"></i></div>
                          <div class="glass-icon"><i class="fas fa-pepper-hot"></i></div>
                          <div class="glass-icon"><i class="fas fa-leaf"></i></div>
                          <div class="glass-icon"><i class="fas fa-egg"></i></div>
                          <div class="glass-icon"><i class="fas fa-cheese"></i></div>
                          <div class="glass-icon"><i class="fas fa-bread-slice"></i></div>
                          <div class="glass-icon"><i class="fas fa-wine-glass-alt"></i></div>
                          <div class="glass-icon"><i class="fas fa-lemon"></i></div>
                          <div class="glass-icon"><i class="fas fa-hamburger"></i></div>
                          <div class="glass-icon"><i class="fas fa-pizza-slice"></i></div>
                          <div class="glass-icon"><i class="fas fa-cookie-bite"></i></div>
                          <div class="glass-icon"><i class="fas fa-utensils"></i></div>
                          <div class="glass-icon"><i class="fas fa-bone"></i></div>
                          <div class="glass-icon"><i class="fas fa-ice-cream"></i></div>
                          <div class="glass-icon"><i class="fas fa-cocktail"></i></div>
                        </div>
                  </div>
           
              </marquee>
          </div>
        </div>
      </div>
    </div>
  </section>