<section>
    <div class="outer-container ">
      <div class="inner-container banner ">
        <div class="sub-container">
          <div class="w-[30%] ml-[20%] relative rounded-full border-1 my-12 egg-shell bg-slate-500">
              <div class="inset-center">
                  <h1 class="text-[4.5rem] Boska-Light-Italic">RES<span class="Boska-Bold">Q</span></h1>
              </div>
                <marquee loop class="inline-flex">
                  <div class="scrolling-icons">
                      <div class="glass-icon-group">
                          <div class="glass-icon"><i class="fas fa-apple-alt"></i></div>
                          <div class="glass-icon"><i class="fas fa-fish"></i></div>
                          <div class="glass-icon"><i class="fas fa-carrot"></i></div>
                          <div class="glass-icon"><i class="fas fa-coffee"></i></div>
                          <div class="glass-icon"><i class="fas fa-pepper-hot"></i></div>
                          <div class="glass-icon"><i class="fas fa-leaf"></i></div>
                          <div class="glass-icon"><i class="fas fa-egg"></i></div>
                          <div class="glass-icon"><i class="fas fa-cheese"></i></div>
                          <div class="glass-icon"><i class="fas fa-bread-slice"></i></div>
                          <div class="glass-icon"><i class="fas fa-wine-glass-alt"></i></div>
                          <div class="glass-icon"><i class="fas fa-lemon"></i></div>
                          <div class="glass-icon"><i class="fas fa-hamburger"></i></div>
                          <div class="glass-icon"><i class="fas fa-pizza-slice"></i></div>
                          <div class="glass-icon"><i class="fas fa-cookie-bite"></i></div>
                          <div class="glass-icon"><i class="fas fa-utensils"></i></div>
                          <div class="glass-icon"><i class="fas fa-bone"></i></div>
                          <div class="glass-icon"><i class="fas fa-ice-cream"></i></div>
                          <div class="glass-icon"><i class="fas fa-cocktail"></i></div>
                        </div>
                  </div>
           
              </marquee>
          </div>
          <div class="w-[30%] mr-[10%] relative  ml-auto rounded-full border-1 my-12 bg-[#ccff02]">
              <div class="inset-center">
                  <h1 class="text-[4.5rem] Boska-Light-Italic">ME<span class="Boska-Bold">AL</span></h1>
              </div>
              <marquee direction=right loop class="inline-flex">
                  <div class="scrolling-icons">
                      <div class="glass-icon-group">
                          <div class="glass-icon"><i class="fas fa-apple-alt"></i></div>
                          <div class="glass-icon"><i class="fas fa-fish"></i></div>
                          <div class="glass-icon"><i class="fas fa-carrot"></i></div>
                          <div class="glass-icon"><i class="fas fa-coffee"></i></div>
                          <div class="glass-icon"><i class="fas fa-pepper-hot"></i></div>
                          <div class="glass-icon"><i class="fas fa-leaf"></i></div>
                          <div class="glass-icon"><i class="fas fa-egg"></i></div>
                          <div class="glass-icon"><i class="fas fa-cheese"></i></div>
                          <div class="glass-icon"><i class="fas fa-bread-slice"></i></div>
                          <div class="glass-icon"><i class="fas fa-wine-glass-alt"></i></div>
                          <div class="glass-icon"><i class="fas fa-lemon"></i></div>
                          <div class="glass-icon"><i class="fas fa-hamburger"></i></div>
                          <div class="glass-icon"><i class="fas fa-pizza-slice"></i></div>
                          <div class="glass-icon"><i class="fas fa-cookie-bite"></i></div>
                          <div class="glass-icon"><i class="fas fa-utensils"></i></div>
                          <div class="glass-icon"><i class="fas fa-bone"></i></div>
                          <div class="glass-icon"><i class="fas fa-ice-cream"></i></div>
                          <div class="glass-icon"><i class="fas fa-cocktail"></i></div>
                        </div>
                  </div>
           
              </marquee>
          </div>
          <div class="image-wrapper absolute top-[13rem] right-[25rem]">
            <img class="" src="assets/images/pooor-boys.png">  
          </div>
          <div class="image-wrapper absolute top-[12rem] left-[5rem]">
            <img class="w-[60%]" src="assets/images/waste2.jpg">  
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="border-t-2 mid-level-outer">
    <div class="outer-container1">
      <div class="inner-container">
        <div class="mid-level">
          <div class="content-container w-[50%] Boska-Bold">
            <div class="content">
              <h1 class="text-[8rem] leading-[7rem] my-8">Revolutionizing Emergency Food Relief </h1>
            </div>
          </div>
          <div class="smiley-container">
            <div class="grid grid-cols-3">
              <div class="left grid grid-cols-3 w-[50%] mt-12">
                <div>
                  <img class="w-[100%]" src="assets/images/world.svg">
                </div>
                <div>
                  <img class="w-[100%]" src="assets/images/smiley.svg">
                </div>
                <div>
                  <img class="w-[100%]" src="assets/images/smiley.svg">
                </div>
              </div>
              <div class="">
                <div class="">
                  <p class="w-[60%] mx-auto Gotham-Book">ResQmeal is a groundbreaking nonprofit organization that aims to alleviate hunger and malnutrition in disaster-stricken areas around the world. Founded in (year of foundation), the organization has quickly gained recognition for its efficient and sustainable solution to emergency food relief.</p>
                  <div class="flex mt-12 justify-center">
                    <button class="bg-black text-white px-6 py-2 rounded-full ">Learn more about us</button>
                  </div>
                  <div>
                  </div>
                </div>
              </div>
              <div><p class="w-[60%] Gotham-Book">Unlike conventional methods of distributing food aid, ResQmeal adopts a multifaceted approach that leverages advanced technology and community engagement. The process begins with identifying regions facing acute food shortages due to natural calamities, conflicts, or other humanitarian crises.</p></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="mt-[-2.5rem]">
    <div class="outer-container1 bg-[#ccff02]">
      <div class="inner-container py-[12rem]">
        <div class="outer-container1">
          <div class="inner-container">
            <div class="tilt">
              <marquee direction=right class="rotate-[-10deg] bg-black"><p class="text-[2rem] Gotham-Light text-white bg-black px-[5rem]"><span></span>NEED HELP ! 🍉 NEED HELP ! 🍓 NEED HELP ! 🍒 NEED HELP ! 🍍 NEED HELP ! 🍇 NEED HELP ! 🍈 NEED HELP ! 🍊 NEED HELP ! 🍌 NEED HELP ! 🍅 NEED HELP ! 🍆 NEED HELP ! 🥜 NEED HELP ! 🥕 NEED HELP ! 🥔 NEED HELP ! 🫑 NEED HELP ! 🥒 NEED HELP ! 🥜</p></marquee>
            </div>
          </div>
        </div>
        <div class="content-container my-[5rem] ml-[20rem] w-[55%] Gotham-Book">
          <div class="content">
            <h1 class="text-[7.2rem] leading-[7rem] ">ResQmeal's approach to emergency food relief </h1>
          </div>
          <div class="content">
            <p class="w-[60%] my-12 ml-auto Gotham-Book">ResQmeal's approach to emergency food relief exemplifies innovation, sustainability, and community involvement. By combining advanced technology with a deep understanding of local needs, the organization has been successful in providing immediate relief and long-term solutions to hunger and malnutrition.</p>
          </div>
          <div class="content">
            <p class="w-[60%] my-12 ml-auto Gotham-Book">As global challenges continue to emerge, initiatives like ResQmeal serve as beacons of hope, inspiring others to come together and make a difference. As individuals and communities unite, we can build a future where access to nutritious food is a fundamental right, regardless of the hardships life throws our way. Together, we can make hunger history and create a world where everyone has the opportunity to thrive.</p>
          </div>
          <div class="flex ml-12 mt-12 justify-center">
            <button class="bg-black text-white px-6 py-2 rounded-full ">Learn more about us</button>
          </div>
        </div>
        <div class="outer-container1">
          <div class="inner-container">
            <div class="tilt">
              <marquee class="rotate-[10deg] bg-black"><p class="text-[2rem] Gotham-Light text-white bg-black px-[5rem]"><span></span>NEED HELP ! 🍉 NEED HELP ! 🍓 NEED HELP ! 🍒 NEED HELP ! 🍍 NEED HELP ! 🍇 NEED HELP ! 🍈 NEED HELP ! 🍊 NEED HELP ! 🍌 NEED HELP ! 🍅 NEED HELP ! 🍆 NEED HELP ! 🥜 NEED HELP ! 🥕 NEED HELP ! 🥔 NEED HELP ! 🫑 NEED HELP ! 🥒 NEED HELP ! 🥜</p></marquee>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="blue-gredient mt-[-35rem]">
    <div class="outer-container1">
      <div class="inner-container">
        <div class="grid grid-cols-2 pt-[30rem]">
          <div class="grid-1">
            <div class="content-container ml-[5rem] Gotham-Book">
              <div class="content ">
                <h1 class="text-[6rem] leading-[7rem] ">"Nourishing Hope, Empowering Communities" </h1>
              </div>
              <div class="flex mt-12">
                <button class="bg-black text-white px-6 py-2 rounded-full ">Learn more about us</button>
              </div>
            </div>
          </div>
          <div class="grid-2 scroll">
            <div class="card-container">
              <div class="card-inner-container">
                <div class="card p-8 rounded-xl my-4">
                  <img class="w-[100%]" src="assets/images/meal1.png">
                </div>
                <div class="card p-8 rounded-xl my-4">
                  <img class="w-[100%]" src="assets/images/meal2.png">
                </div>
                <div class="card p-8 rounded-xl my-4">
                  <img class="w-[100%]" src="assets/images/meal3.png">
                </div>
                <div class="card p-8 rounded-xlmy-4">
                  <img class="w-[100%]" src="assets/images/meal-4.png">
                </div>
                <div class="card p-8 rounded-xl my-4">
                  <img class="w-[100%]" src="assets/images/meal5.jpg">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="outer-container1 mt-12">
      <div class="inner-container">
        <div class="content-container my-[5rem] text-center  Gotham-Book">
          <div class="content">
            <h1 class="text-[4rem] leading-[4rem] mx-auto w-[60%] ">Partners: Uniting for Global Food Security</h1>
          </div>
          <div class="content">
            <section class="logoMarqueeSection">
              <div class="container" id="logoMarqueeSection">
                <div class="default-content-container flex items-center">
                  <div class="default-content-container-inner marquee-wrapper relative overflow-hidden inline-block">
                    <div class="marquee" style="animation-duration: 57s;">
                      <a target="_blank"><img src="https://cdn.worldvectorlogo.com/logos/calvin-klein.svg" title="" class="marqueelogo" style="width: auto; max-width: none;"></a>
                      <a target="_blank"><img src="https://cdn.worldvectorlogo.com/logos/tiktok-logo.svg" title="" class="marqueelogo" style="width: auto; max-width: none;"></a>
                      <a target="_blank"><img src="https://cdn.worldvectorlogo.com/logos/ngk-3.svg" title="" class="marqueelogo" style="width: auto; max-width: none;"></a>
                      <a target="_blank"><img src="https://cdn.worldvectorlogo.com/logos/asus-rog-1.svg" title="" class="marqueelogo" style="width: auto; max-width: none;"></a>
                      <a target="_blank"><img src="https://cdn.worldvectorlogo.com/logos/nippon-sanso.svg" title="" class="marqueelogo" style="width: auto; max-width: none;"></a>
                      <a target="_blank"><img src="https://cdn.worldvectorlogo.com/logos/comdisco.svg" title="" class="marqueelogo" style="width: auto; max-width: none;"></a>
                      <a target="_blank"><img src="https://cdn.worldvectorlogo.com/logos/aricoin-icon.svg" title="" class="marqueelogo" style="width: auto; max-width: none;"></a>
                      <a target="_blank"><img src="https://cdn.worldvectorlogo.com/logos/pse-1.svg" title="" class="marqueelogo" style="width: auto; max-width: none;"></a>
                      <a target="_blank"><img src="https://cdn.worldvectorlogo.com/logos/scien.svg" title="" class="marqueelogo" style="width: auto; max-width: none;"></a>
                      <a target="_blank"><img src="https://cdn.worldvectorlogo.com/logos/e-online.svg" title="" class="marqueelogo" style="width: auto; max-width: none;"></a>
                      <a target="_blank"><img src="https://cdn.worldvectorlogo.com/logos/yourhomedirect.svg" title="" class="marqueelogo" style="width: auto; max-width: none;"></a>
                      <a target="_blank"><img src="https://cdn.worldvectorlogo.com/logos/nextra-3.svg" title="" class="marqueelogo" style="width: auto; max-width: none;"></a>
                    </div>
                    <div class="marquee" style="animation-duration: 57s;">
                      <a target="_blank"><img src="https://cdn.worldvectorlogo.com/logos/calvin-klein.svg" title="" class="marqueelogo" style="width: auto; max-width: none;"></a>
                      <a target="_blank"><img src="https://cdn.worldvectorlogo.com/logos/tiktok-logo.svg" title="" class="marqueelogo" style="width: auto; max-width: none;"></a>
                      <a target="_blank"><img src="https://cdn.worldvectorlogo.com/logos/ngk-3.svg" title="" class="marqueelogo" style="width: auto; max-width: none;"></a>
                      <a target="_blank"><img src="https://cdn.worldvectorlogo.com/logos/asus-rog-1.svg" title="" class="marqueelogo" style="width: auto; max-width: none;"></a>
                      <a target="_blank"><img src="https://cdn.worldvectorlogo.com/logos/nippon-sanso.svg" title="" class="marqueelogo" style="width: auto; max-width: none;"></a>
                      <a target="_blank"><img src="https://cdn.worldvectorlogo.com/logos/comdisco.svg" title="" class="marqueelogo" style="width: auto; max-width: none;"></a>
                      <a target="_blank"><img src="https://cdn.worldvectorlogo.com/logos/aricoin-icon.svg" title="" class="marqueelogo" style="width: auto; max-width: none;"></a>
                      <a target="_blank"><img src="https://cdn.worldvectorlogo.com/logos/pse-1.svg" title="" class="marqueelogo" style="width: auto; max-width: none;"></a>
                      <a target="_blank"><img src="https://cdn.worldvectorlogo.com/logos/scien.svg" title="" class="marqueelogo" style="width: auto; max-width: none;"></a>
                      <a target="_blank"><img src="https://cdn.worldvectorlogo.com/logos/e-online.svg" title="" class="marqueelogo" style="width: auto; max-width: none;"></a>
                      <a target="_blank"><img src="https://cdn.worldvectorlogo.com/logos/yourhomedirect.svg" title="" class="marqueelogo" style="width: auto; max-width: none;"></a>
                      <a target="_blank"><img src="https://cdn.worldvectorlogo.com/logos/nextra-3.svg" title="" class="marqueelogo" style="width: auto; max-width: none;"></a>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>

        </div>
      </div>
    </div>
    <div class="outer-container1">
      <div class="inner-container">
        <div class="footer">
          <div class="grid grid-cols-2">
            <div class="grid-1 flex items-center">
              <div class="image-container">
                <img class="" src="assets/images/world.svg">
                <img class="" src="assets/images/smiley.svg">
              </div>
              <div class="content-wrapper mx-4">
                <div class="flex gap-4">
                  <img class="" src="assets/images/arrow.svg">
                  <div class="content">
                    <p class="text-[2rem] Boska-Medium">Home</p>
                  </div>
                </div>
                <div class="flex gap-4">
                  <img class="" src="assets/images/arrow.svg">
                  <div class="content">
                    <p class="text-[2rem] Boska-Medium">About us</p>
                  </div>
                </div>
                <div class="flex gap-4">
                  <img class="" src="assets/images/arrow.svg">
                  <div class="content">
                    <p class="text-[2rem] Boska-Medium">Mission</p>
                  </div>
                </div>
                <div class="flex gap-4">
                  <img class="" src="assets/images/arrow.svg">
                  <div class="content">
                    <p class="text-[2rem] Boska-Medium">Connect</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="grid-2">
              <div class="bottom-footer Gotham-Book ">
                <div class="content">
                  <p>© RESQMEAL 2023</p>
                  <p class="Gotham-Light"> PRIVACY / TERMS</p>
                </div>
                <div class="content">
                  <p>SAY HELLO</p>
                  <p class="Gotham-Light">RESQMEAL@gmail.com</p>
                </div>
                <div class="content">
                  <p>SOCIAL MEDIA</p>
                  <p class="Gotham-Light">TWITTER / INSTAGRAM / FACEBOOK / BEHANCE / DRIBBBLE</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>